@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'GMarketSans', -apple-system, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #012619
}

input, textarea, button, select {
  font-family: inherit; /* 부모(body)의 폰트를 따라가도록 설정 */
  border-radius: 10px;
}

.container {
  max-width: 700px; /* 좁은 폭 스타일 */
  margin: 0 auto;
  padding: 0 20px;
  padding-block-end: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #F2F2F2
}
.container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* 마크다운 스타일 */
.markdown-body h1 { margin-top: 1.5em; font-size: 2em; }
.markdown-body h2 { margin-top: 1.4em; font-size: 1.5em; border-bottom: 1px solid #eee; padding-bottom: 5px; }
.markdown-body p { margin-bottom: 1em; }
.markdown-body code { background: #f5f5f5; padding: 2px 5px; border-radius: 3px; }
.markdown-body pre { background: #f5f5f5; padding: 15px; overflow-x: auto; border-radius: 5px; }
.markdown-body img { max-width: 100%; border-radius: 5px; }
.markdown-body blockquote { border-left: 4px solid #ccc; margin: 0; padding-left: 15px; color: #666; }